name: Npm publish

on:
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  create-publish-branch:
    runs-on: ubuntu-latest
    outputs:
      publish-branch: ${{ steps.publish-branch.outputs.publish-branch }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: ./.github/workflows/actions/init-repository
      - name: Set publish branch name
        id: publish-branch
        run: |
          echo "publish-branch=publish_${{ github.run_id }}" >> $GITHUB_OUTPUT
      - name: Create publish branch
        run: |
          git checkout -b ${{ steps.publish-branch.outputs.publish-branch }}
          git push origin ${{ steps.publish-branch.outputs.publish-branch }}
      - name: Bundle
        run: npm run bundle
      - uses: ./.github/workflows/actions/commit-and-push
        with:
          ref: ${{ steps.publish-branch.outputs.publish-branch }}
          message: 'ready to publish'
          token: ${{ secrets.GITHUB_TOKEN }}

  macos-build:
    runs-on: macos-latest
    needs: [create-publish-branch]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          submodules: 'recursive'
      - uses: ./.github/workflows/actions/init-repository
      - name: Build
        run: npm run gyp:darwin
      - uses: ./.github/workflows/actions/commit-and-push
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          message: 'build:darwin'
          token: ${{ secrets.GITHUB_TOKEN }}

  windows-x64-build:
    runs-on: windows-latest
    needs: [create-publish-branch, macos-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          submodules: 'recursive'
      - uses: ./.github/workflows/actions/init-repository
      - name: Build
        run: npm run gyp
      - uses: ./.github/workflows/actions/commit-and-push
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          message: 'build:win32:x64'
          token: ${{ secrets.GITHUB_TOKEN }}

  windows-arm64-build:
    runs-on: windows-11-arm
    needs: [create-publish-branch, macos-build, windows-x64-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          submodules: 'recursive'
      - uses: ./.github/workflows/actions/init-repository
      - name: Build
        run: npm run gyp
      - uses: ./.github/workflows/actions/commit-and-push
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          message: 'build:win32:arm64'
          token: ${{ secrets.GITHUB_TOKEN }}

  linux-x64-build:
    runs-on: ubuntu-latest
    needs:
      [
        create-publish-branch,
        macos-build,
        windows-x64-build,
        windows-arm64-build,
      ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          submodules: 'recursive'
      - uses: ./.github/workflows/actions/init-repository
      - name: Build
        run: npm run gyp
      - uses: ./.github/workflows/actions/commit-and-push
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          message: 'build:linux:x64'
          token: ${{ secrets.GITHUB_TOKEN }}

  linux-arm64-build:
    runs-on: ubuntu-24.04-arm
    needs:
      [
        create-publish-branch,
        macos-build,
        windows-x64-build,
        windows-arm64-build,
        linux-x64-build,
      ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          submodules: 'recursive'
      - uses: ./.github/workflows/actions/init-repository
      - name: Build
        run: npm run gyp
      - uses: ./.github/workflows/actions/commit-and-push
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
          message: 'build:linux:arm64'
          token: ${{ secrets.GITHUB_TOKEN }}

  npm-publish:
    runs-on: ubuntu-latest
    needs:
      [
        create-publish-branch,
        macos-build,
        windows-x64-build,
        windows-arm64-build,
        linux-x64-build,
        linux-arm64-build,
      ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.create-publish-branch.outputs.publish-branch }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm publish

  remove-publish-branch:
    runs-on: ubuntu-latest
    needs:
      [
        create-publish-branch,
        macos-build,
        windows-x64-build,
        windows-arm64-build,
        linux-x64-build,
        linux-arm64-build,
        npm-publish,
      ]
    if: always()
    steps:
      - uses: actions/checkout@v4
      - name: Remove publish branch
        run: |
          git push origin --delete ${{ needs.create-publish-branch.outputs.publish-branch }}
